{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "**/node_modules/**",
    "**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "check-coverage": true,
  "per-file": false,
  "statements": 70,
  "branches": 70,
  "functions": 70,
  "lines": 70
}
