{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "**/node_modules/**",
    "**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "check-coverage": true,
  "per-file": false,
  "statements": 92,
  "branches": 95.29,
  "functions": 84.55,
  "lines": 91.97
}
