{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "**/node_modules/**",
    "**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "check-coverage": true,
  "per-file": false,
  "statements": 78,
  "branches": 69,
  "functions": 68,
  "lines": 78
}
